/*
Theme Name:     Evionica1
Description:    Neve child theme
Author:         tiltkomp
Template:       neve

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
    /*display: none;*/
    font-family: 'Roboto' !important;
}
.hide{
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}
.show{
    display: block;
    opacity: 1 !important;
    visibility: visible !important;
}
#header-grid .nv-navbar, #header-grid .light-mode{
    background-color: transparent;
}
.header{
    position: relative;
    z-index: 9;
}

.elementor-91 .elementor-element.elementor-element-6bea8fc8:not(.elementor-motion-effects-element-type-background):before,
.elementor-91 .elementor-element.elementor-element-6bea8fc8 > .elementor-motion-effects-container > .elementor-motion-effects-layer{
    content: '';
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7));
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.elementor-section-wrap, .elementor-inner{
}

.elementor-background-overlay{
    background-color: transparent !important;
}
#content{
    margin-top: -80px;
}
.row .builder-item--primary-menu .primary-menu-ul li:not(:nth-child(5)):hover>a, .row .primary-menu-ul li:not(:nth-child(5)):focus>a{
    color: white;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #698dff;
}
.row .builder-item--primary-menu .primary-menu-ul > li:nth-child(5):hover>a{
    color: #698dff !important;:
}
.row .builder-item--primary-menu .primary-menu-ul .sub-menu li{
    background-color: transparent;
}
.row .builder-item--primary-menu .primary-menu-ul .sub-menu li a{
    color: white;
}
.row .builder-item--primary-menu .primary-menu-ul .sub-menu{
    background-color: #698dff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.builder-item--primary-menu ul li a .caret-wrap{
    display: none;
}
.builder-item--primary-menu ul li a{
    margin: 0;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 700;
    color: #0F0F0F;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 3px;
    padding: 8px 15px;
    letter-spacing: 0.06em;
    text-decoration: none;
    margin: 0;
    justify-content: flex-start !important;
    margin-top: 0 !important;
}
li.phone{
    margin-left: 25px;
}
.nav-menu-primary{
    width: 100%;
}
#nv-primary-navigation li:last-child{
    margin-left:auto;
}
.affix #menu-item-713{
    margin-left:auto;
}
#nv-primary-navigation{
    justify-content: space-between;
    margin-left: -20px;
}
.primary-menu-ul .active a{
    background-color: #698dff;
    margin: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 3px;
    padding: 8px 15px;
    letter-spacing: 0.06em;
    color: white !important;
}
.row .primary-menu-ul>li{
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}
.primary-menu-ul li:last-child ul{
    left: -160px;
}
.sub-menu li{
    border: 1px solid #698dff !important;
}
.sub-menu li:last-child a, .sub-menu li:last-child{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.sub-menu{
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
    min-width: 238px;
    background: #698dff !important;
    border-color: #698dff !important;
    box-shadow: 0 4px 16px rgba(59,94,203,0.2) !important;
    -webkit-border-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 4px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: 0;
    padding: 10px 0 !important;
}
#header-grid{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.affix #menu-item-713 {
    display: block;
}
.affix #menu-item-713 a:hover{
    webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: all .3s ease-in-out;
}
.affix #menu-item-713 a{
    transition: all .3s ease-in-out;
    background-color: #698dff;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 3px;
    padding: 8px 15px;
    letter-spacing: 0.06em;
    color: white !important;
}
.affix .site-logo img{
    max-width: 100px;
}
.affix {
    position: fixed !important;
    /*left: 50%;*/
    /*transform: translate(-50%,0);*/
    width: 100%;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    padding: 0;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 4px 0 rgba(0,0,0,0.1) !important;
    /*-webkit-animation-duration: 1s;*/
    /*animation-duration: 1s;*/
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}
.site-logo{
    margin-top: 10px;
}
#menu-item-713{
    display: none;
}
#menu-item-703 a, #menu-item-703 a:hover{
    color: #474747 !important;
    opacity: 0.5 !important;
}
/*.primary-menu-ul > li:nth-child(2) a:after{*/
    /*content: '|';*/
    /*width: 10px;*/
    /*height: 27px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: -2px;*/
    /*font-size: 22px;*/
    /*color: #ececec;*/
    /*opacity: 0.3;*/
/*}*/
.primary-menu-ul > li:nth-child(2) a:before, .primary-menu-ul > li:nth-child(3) a:before, .primary-menu-ul > li:nth-child(4) a:before{
    content: '|';
    width: 10px;
    height: 27px;
    position: absolute;
    top: 0;
    left: -5px;
    font-size: 22px;
    color: #ececec;
    opacity: 0.3;
}
.primary-menu-ul > li:hover a:after, .primary-menu-ul > li:hover a:before{
    opacity:0 !important;
}